.clients {
    padding-top: 94px;
    padding-bottom: 94px;

    &__title {
      margin-bottom: 50px;
    
      font-size: 36px;
      text-align: center;
    }

    &__list {
      display: flex;
    }

    &__item:not(:last-child) {
      margin-right: 30px;
    }

    &__icon {
      fill: currentColor;
    }
  }
 
  .clients__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    color: #afb1b8;
  
    @include transition2(color, border-color);
   
      &:hover, &:focus {
        color: var(--accent-color);
        border-color: var(--accent-color);
      } 
  }
